.titreh1 {

	font-size : 30px;
	font-family: 'Roboto', sans-serif;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	align-items: center;
	margin-left: 20px;
}


body {
background-color : grey;

}

.divmainimg {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.divmain {
	text-align: center;
}

.divmaindate {
	color: red;
	font-style: italic;
	font-size: 12px;
}
.footdroit {
	text-align : right;
}
