.titreh1 {
	height: 180px;
	font-size : 30px;
	width: 68.5%;
	font-style: bold ;
	font-family: 'Roboto', sans-serif;
	float : left;
}
.imgh1 {
	margin-bottom: 20px;
}

body {
background-color : grey;

}

.divmainimg {
	width: 50%;
	text-align: center;
}
.divmain {
	text-align: center;
}

.divmaindate {
	color: red;
	font-style: italic;
	font-size: 12px;
}
.footdroit {
	text-align : right;
}
